.game-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.game-wrapper .quest-wrapper,
.game-wrapper .options-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.game-wrapper .quest-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.game-wrapper .quest-wrapper img {
  width: 20%;
  border-radius: 50%;
  border: 5px solid #000;
}
.game-wrapper .quest-wrapper h2 {
  width: 100%;
  text-align: center;
  font-size: 6rem;
}
.game-wrapper .options-wrapper {
  gap: 2rem;
}
.game-wrapper .options-wrapper .button {
  font-size: 2rem;
  cursor: pointer;
}
.game-wrapper .options-wrapper .button:hover {
  background: none;
}
.game-wrapper .options-wrapper .button-err {
  background: none;
  color: #000;
}

.button {
  width: 300px;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  background: #000;
  transition: 0.2s ease-in;
  border: 2px solid #000;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bolder;
}
.button:hover {
  color: #000;
  background: none;
  border-color: #000;
}

.main-wrapper-home {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 2rem;
}
.main-wrapper-home h1 {
  font-size: 4rem;
}

.resultado-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.resultado-wrapper .resultado-numeros-wrapper {
  display: flex;
  gap: 2rem;
}
.resultado-wrapper .resultado-numeros-wrapper .numeros-wrapper {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-flow: column nowrap;
  background: #10a878;
  border-radius: 50%;
  border: 4px solid #000;
  transition: 0.2s ease-in;
}
.resultado-wrapper .resultado-numeros-wrapper .numeros-wrapper:nth-child(2) {
  background: #c2251a;
}
.resultado-wrapper .resultado-numeros-wrapper .numeros-wrapper h2 {
  font-size: 2rem;
}
.resultado-wrapper .resultado-numeros-wrapper .numeros-wrapper p {
  font-size: 3rem;
  color: #000;
}
.resultado-wrapper .resultado-numeros-wrapper .numeros-wrapper:hover {
  border-color: #fff;
}
.resultado-wrapper .resultado-numeros-wrapper .numeros-wrapper:hover h2, .resultado-wrapper .resultado-numeros-wrapper .numeros-wrapper:hover p {
  color: #fff;
}
.resultado-wrapper .button {
  background: none;
  color: #000;
  font-size: 1.5rem;
}
.resultado-wrapper .button:hover {
  border-color: #fff;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../imgs/cool-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
